/* GLOBAL VARIABLE */


:root{

    /* global variables  */
    --clr-bg : #24252A;
    --clr-gray : #e3e4e6;
    --text-color : #edf0f1;
    --clr-white: white;
    --base-font : 'PT Sans', sans-serif;

}

